---
layout: book.njk
bookId: to-light-the-way
title: To Light The Way
description: After a crash landing kills their crewmates, electrical engineer Ray and botanist Ann must race against time to establish a working outpost on an alien planet before a generational ship arrives with thousands of lives depending on their success.
coverImage: /images/covers/to-light-the-way.jpg
---
